[submodule "ocaml-ctypes"]
	path = ocaml-ctypes
	url = https://github.com/zatkh/ocaml-ctypes.git
[submodule "ocaml-sodium"]
	path = ocaml-sodium
	url = https://github.com/zatkh/ocaml-sodium.git
[submodule "in-enclave-sodium"]
	path = in-enclave-sodium
	url = git@github.com:zatkh/in-enclave-sodium.git
